{% extends 'layout.html' %}

{%block body%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <form action="/guardarcalificacion" method="POST">
        <div class="text">
            <h1>Calificación</h1>
            <h3>¿Qué te ha parecido el ejercicio?</h3>
        </div>
        <div class="rating">
            <input type="radio" name="star" id="star5" value="5"><label for="star5"></label>
            <input type="radio" name="star" id="star4" value="4"><label for="star4"></label>
            <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
            <input type="radio" name="star" id="star2" value="2"><label for="star2"></label>
            <input type="radio" name="star" id="star1" value="1" required><label for="star1"></label>
        </div>
        <button type="submit" class="btn btn-success btn-block btnCalifica">Siguiente</button>
    </form>
{% endblock %}