{% extends 'layout.html' %}

{%block body%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="col-md-12">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == 'Contextos agregados correctamente.' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card card-body">
        <form action="/add_contexto" method="POST">
            <div class="form-group">
                <table style="width: 100%;">
                    {% if Mensajefaltantes == "Con Datos" %}
                        {% set count = namespace(a=0,b=1) %}
                        {% for faltate in faltates %}
                            {% if count.a == 0 %}
                                <tr>
                            {% endif %}
                            <td>
                                <input type="checkbox" id="{{faltate.0}}" name="contexto" value="{{faltate.0}}">
                                <label for="contexto">{{faltate.1}}</label>
                            </td>
                            {% if count.a == 6 %}
                                </tr>
                                {% set count.a = 0 %}
                            {% endif %}
                            {% set count.a = count.a + 1 %}
                            {% set count.b = count.b + 1 %}
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="2" align="center">Todos los contextos fueron seleccionados</td></tr>
                    {% endif %}
                </table>
            </div>
            {% if Mensajefaltantes == "Con Datos" %}
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-block">Agregar Contexto</button>
                </div>
            {% endif %}
        </form>
    </div>
</div>
<br>
<div class="col-md-12">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if message == 'Contexto eliminado correctamente.' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card card-body">
        <form action="/recomendaciones" method="POST">
            <table border="1" align="center" style="text-align: center;width: 50%;">
                <tr>
                    <th>Contexto</th>
                    <th>Eliminar</th>
                </tr>
                {% if Mensajegustos == "Con Datos" %}
                    {% for gusto in gustos %}
                    <tr>
                        <td>{{gusto.1}}</td>
                        <td><a href="/EliminarContexto/{{gusto.0}}" class="btn btn-danger btn-block"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr><td colspan="2" align="center">No cuenta con contextos relacionados</td></tr>
                {% endif %}
            </table>
            {% if Mensajegustos == "Con Datos" %}
                <br>
                <div class="form-group">
                    <div style="width: 49%;float: left;"><a href="/Accessing" class="btn btn-primary btn-block">Regresar</a></div>
                    <div style="width: 49%;float: right;"><button type="submit" class="btn btn-success btn-block">Siguiente</button></div>
                </div>
            {% else %}
                <br>
                <a href="/Accessing" class="btn btn-primary btn-block">Regresar</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}