{% extends 'layout.html' %}

{%block body%}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{estudiante.0}}" method="POST">
            <div class="form-group">
                <input type="text" name="Names" placeholder="Usuario Estudiante" value="{{ estudiante.1 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="Document" placeholder="Documento Estudiante" value="{{ estudiante.2 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="Email" placeholder="Correo Estudiante" value="{{ estudiante.3 }}" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}